<app-toolbar></app-toolbar>

<div class="container">

    @if (!isFinded) {
        <div class="logo-title">
            <h1>Бронирование авиабилетов</h1>
        </div>
    }

    <div class="row search mat-elevation-z2">
        <form class="col-8 example-form">
            <table class="example-full-width" cellspacing="0">
                <tr>
                <td>
                    <mat-form-field class="from-form example-full-width">
                        <mat-label>Откуда</mat-label>
                        <input name="fromAirport" [(ngModel)]="fromAirport" matInput placeholder="Москва"/>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Куда</mat-label>
                        <input name="toAirport" [(ngModel)]="toAirport" matInput placeholder="Санкт-Петербург"/>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Выберите дату</mat-label>
                        <input name="departureDate" [(ngModel)]="departureDate" matInput [matDatepicker]="datepicker">
                        <mat-hint>ММ/ДД/ГГГГ</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                            <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Отмена</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Применить</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                    </mat-form-field>
                </td>
                </tr>
            </table>
        </form>

        <button
            (click)="findFlights()" 
            mat-stroked-button
            class="col-3 mat-elevation-z3 seach-btn" 
            color="primary">
            Найти билеты
        </button>
    </div>

    @if (isFinded) {
        <app-flights [flights]="flights"></app-flights>
    }

</div>
