.logo-title {
    align-self: center;
    text-align: center;
    margin: 50pt;
}

.search {
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 30pt;
}

.from-form {
    padding-left: 30pt;
}

.seach-btn {
    height: 50pt;
    margin-left: 10pt;
    border-radius: 20pt;
}
