<mat-toolbar class="container-fluid">
    <mat-tab-group 
        (selectedTabChange)="selectedTabChangeHandle($event)"
        mat-stretch-tabs="false" 
        mat-align-tabs="start" 
        dynamicHeight>

        @if (isAuth) {
            <mat-tab label="Список билетов" />
            <mat-tab label="Профиль" />
        }
    </mat-tab-group>

    <div class="spacer"></div>

    @if (isAuth) {
        <button (click)="logout()" mat-stroked-button color="primary">Выйти</button>
    } @else {
        <button (click)="login()" mat-stroked-button color="primary">Войти</button>
    }
</mat-toolbar>
