<div class="container-fluid">
    <div class="row">
        <div class="fligts col-8">
            @for (historyEntry of balanceHistory(); track historyEntry) {
                <app-balance-details [balanceHistory]="historyEntry"></app-balance-details>
            }

            <mat-paginator
                [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="changePage($event)" 
                aria-label="Select page">
            </mat-paginator>

        </div>
    </div>
</div>
